@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

* {
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  background-color: #000;
  color: #3f5c5f;
  font-family: "Poppins", sans-serif; }

a {
  display: inline-block;
  color: #53d494;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

.container {
  position: relative; }

.wrapper {
  margin: 0 auto;
  width: 58%; }

.get-in-touch__img img, .trainers__list__item__img img {
  box-shadow: 10px 10px #53d494; }

.get-in-touch__text__title, .classes__title, .schedule__title, .trainers__title {
  color: #53d494;
  line-height: 1.2;
  text-transform: capitalize;
  font-size: 2.93rem;
  font-weight: 700; }

.classes__info, .schedule__info, .trainers__info {
  width: 47.33%;
  padding: 1.37rem 0 4.06rem;
  line-height: 1.8;
  font-size: 17px;
  font-weight: 400; }

.schedule__time-table__item__exercise, .schedule__time-table__item__timing, .schedule__time-table__item__trainer, .schedule__time-table__item__join-cta {
  padding: 20px 0 20px 10px;
  border-right: 1px solid #c6cace;
  border-bottom: 1px solid #c6cace;
  font-size: 1rem;
  text-transform: capitalize; }

.header {
  position: absolute;
  top: 26px;
  right: 7.61%;
  bottom: auto;
  left: 5.87%; }
  .header .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .header__nav {
    margin: 0 31% 0 29.7%;
    flex-basis: 29.09%; }
    .header__nav__list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .header__nav__list__item__name {
        color: #fff;
        cursor: pointer;
        text-transform: capitalize;
        font-size: 1.1rem;
        font-weight: 500; }
        @media screen and (min-width: 768px) {
          .header__nav__list__item__name:hover {
            color: #53d494; } }
      .header__nav__list__item.active {
        border-bottom: 2px solid #fff;
        padding-bottom: 3px; }
    .header__nav__close, .header__nav__open {
      display: none; }
  .header__contact__cta {
    padding: 9px 20px;
    border-radius: 5px;
    border: 1px solid #53d494;
    color: #53d494;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .header__contact__cta:hover {
        background-color: #53d494;
        color: #fff; } }

.banner {
  padding: 23rem 0 23.43rem;
  background-image: url("../../image/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .banner__title {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    line-height: 1.3;
    text-align: center;
    text-transform: capitalize;
    font-size: 7.81rem;
    font-weight: 800; }

.counter {
  padding: 5.12rem 0 7.81rem; }
  .counter__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .counter__list__item {
      gap: 24px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .counter__list__item__div__count {
        padding-bottom: 7px;
        display: block;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 500; }
      .counter__list__item__div__name {
        display: block;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 500; }
      .counter__list__item.members::before {
        content: "";
        color: #53d494;
        font-family: "FontAwesome";
        font-size: 2.81rem;
        font-weight: 500; }
      .counter__list__item.daily-visitors::before {
        content: "";
        color: #53d494;
        font-family: "FontAwesome";
        font-size: 2.81rem;
        font-weight: 500; }
      .counter__list__item.health-program::before {
        content: "";
        color: #53d494;
        font-family: "FontAwesome";
        font-size: 2.81rem;
        font-weight: 500; }
      .counter__list__item.heart-beat::before {
        content: "";
        color: #53d494;
        font-family: "FontAwesome";
        font-size: 2.81rem;
        font-weight: 500; }

.get-in-touch {
  padding-bottom: 6.25rem; }
  .get-in-touch .wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
  .get-in-touch__text {
    padding-top: 2.93rem;
    flex-basis: 40%; }
    .get-in-touch__text__info {
      padding: 1.62rem 0 2.43rem;
      line-height: 1.8;
      font-size: 17px;
      font-weight: 500; }
    .get-in-touch__text__cta {
      padding: 16px 26px 16px 26px;
      border: 1px solid #53d494;
      border-radius: 5px;
      background-color: #53d494;
      color: #000;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700; }
      @media screen and (min-width: 768px) {
        .get-in-touch__text__cta:hover {
          background-color: transparent;
          color: #53d494; } }
  .get-in-touch__img {
    flex-basis: 48.41%; }

.classes {
  padding: 5.06rem 0 2.5rem; }
  .classes__slider {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; }
  .classes__radio {
    margin-top: 2.81rem;
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; }
    .classes__radio__cta {
      padding: 5px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      font-size: 0; }
      .classes__radio__cta.active {
        background-color: #53d494; }

.schedule {
  padding: 146px 0; }
  .schedule__day-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 3px; }
    .schedule__day-list__item__name {
      padding: 13px 18px;
      border-radius: 5px;
      display: block;
      color: #53d494;
      cursor: pointer;
      text-transform: capitalize;
      font-size: 17px;
      font-weight: 400; }
      .schedule__day-list__item__name--selected {
        background-color: #53d494;
        color: #fff; }
      @media screen and (min-width: 768px) {
        .schedule__day-list__item__name:hover {
          background-color: #53d494;
          color: #fff; } }
  .schedule__time-table {
    margin-top: 2.87rem;
    border: 1px solid #c6cace;
    color: #c6cace;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    .schedule__time-table__item {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch; }
      .schedule__time-table__item__exercise {
        flex-basis: 24.2%; }
      .schedule__time-table__item__timing {
        flex-basis: 32.7%; }
      .schedule__time-table__item__trainer {
        flex-basis: 24.6%; }
      .schedule__time-table__item__join-cta {
        flex-basis: 18.5%;
        text-align: center; }

.trainers {
  padding: 43px 0 100px; }
  .trainers__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
    .trainers__list__item {
      flex-basis: calc(33.33% - 45px); }
      .trainers__list__item__name {
        padding: 52px 0 15px;
        color: #fff;
        text-transform: capitalize;
        font-size: 26px;
        font-weight: 400; }
      .trainers__list__item__speciality {
        padding-bottom: 35px;
        line-height: 1;
        opacity: .8;
        text-transform: capitalize; }
      .trainers__list__item__info {
        line-height: 1.8;
        font-size: 1rem;
        font-weight: 400; }
      .trainers__list__item:nth-of-type(2n) {
        margin-top: 50px; }
