* { box-sizing: border-box; }

body {
  box-sizing: border-box;
  background-color: #000;
  color: $primary-color;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  color: $secondary-color;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container { position: relative; }

.wrapper {
  margin: 0 auto;
  width: 58%; 
}

%img-shadow { box-shadow: 10px 10px $secondary-color; }

%section-title { 
  width: 47%;
  color: $secondary-color;
  line-height: 1.2;
  text-transform: capitalize;

  @include font (2.93rem, 700);

  // @include breakpoint (ipad) { @include font (2.5rem, 900); }

}

%section-info {
  width: 47.33%;
  padding: 1.37rem 0 4.06rem;
  line-height: 1.8;
  @include font (17px, 400);
}

%time-table-item {
  padding: 20px 0 20px 10px;
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  font-size: 1rem; 
  text-transform: capitalize;
}

%form-elements {
  width: 100%;
  border: 2px solid $tertiary-color;
  padding: 8px 11px;
  background: none;
  color: $tertiary-color;
  font-family: inherit;

  @include font (15px, 400)
}


