* { box-sizing: border-box; }

body {
  box-sizing: border-box;
  background-color: #000;
  color: $primary-color;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  color: $secondary-color;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container { position: relative; }

.wrapper {
  margin: 0 auto;
  width: 58%; 
}

%img-shadow { box-shadow: 10px 10px $secondary-color; }

%section-title { 
  @include font (3.12rem, 900); 

  @include breakpoint (ipad) { @include font (2.5rem, 900); }

}

%section-info {
  padding: 2.5rem 0 5.62rem;
  // color: $tertiary-color;
  @include font (1.56rem, 400);

  @include breakpoint (ipad) { 
    padding: 1.5rem 0 3rem;
    @include font (1.3rem, 900); 
  
  }

}
