* { box-sizing: border-box; }

body {
  box-sizing: border-box;
  background-color: #000;
  color: $primary-color;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  color: $secondary-color;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container { position: relative; }

.wrapper {
  margin: 0 auto;
  width: 58%; 
}

%img-shadow { box-shadow: 10px 10px $secondary-color; }

%section-title { 
  color: $secondary-color;
  line-height: 1.2;
  text-transform: capitalize;

  @include font (2.93rem, 700);

  // @include breakpoint (ipad) { @include font (2.5rem, 900); }

}

%section-info {
  width: 47.33%;
  padding: 1.37rem 0 4.06rem;
  line-height: 1.8;
  @include font (17px, 400);
}
