$primary-color: #3f5c5f;
$secondary-color: #53d494;
$tertiary-color: #fff;
$grey: #c6cace;
$light-green: #c1f1db;
$powder-black: #121212;

$pc:1440px;
$ipad-pro:1024px;
$ipad:768px;
$large-mobile:425px;
$med-mobile:375px;
$small-mobile:320px;
