.classes {
  padding: 5.06rem 0 2.5rem;

  &__title { @extend %section-title; }

  &__info { @extend %section-info; }

  &__slider { @include flexBox (auto, auto, auto, false) }

  &__radio {
    margin-top: 2.81rem;
    gap: 10px;
    @include flexBox (auto, center, auto, false);

    &__cta {
      padding: 5px;
      border-radius: 50%;
      background-color: $tertiary-color;
      cursor: pointer;
      font-size: 0;

      &.active { background-color: $secondary-color; }
    }
  }

}