.trainers {
  padding: 2.68rem 0 6.25rem;

  &__title { @extend %section-title; }

  &__info { @extend %section-info; }

  &__list {
    @include  flexBox (auto, space-between, auto, false);

    &__item {
      flex-basis: calc(33.33% - 2.81rem);
    
      &__img img { @extend %img-shadow; }

      &__name {
        padding: 3.25rem 0 15px;
        color: $tertiary-color;
        text-transform: capitalize;

        @include font (1.62rem, 400);
      }

      &__speciality {
        padding-bottom: 2.18rem;
        line-height: 1;
        opacity: .8;
        text-transform: capitalize;
      }

      &__info {
        line-height: 1.8;
        @include font (1rem, 400)
      }
      &:nth-of-type(2n) { margin-top: 3.12rem; }
    }
  
  }
}